body{
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80);
    overflow-x: hidden;
}

.indexGridwrapper{
    display: grid;
    grid-template-areas: 
    'hea nav'
    'mai mai'
    'foo foo'
    ;
    grid-template-columns: 15vw 85vw ;
    grid-template-rows: 180px 1000px 180px;
    column-gap: 5px;
    
}

.logo{
    grid-area: hea;
    background-color:rgba(255, 255, 255, 0.822);
    height: 18vh;
 
 
}

.navbar{
    grid-area: nav;
    background-color:rgba(255, 255, 255, 0.822);
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 18vh;
    
}

.navLinks{
    color: black;
    display: flex;
    justify-content: space-around;
    width: 10%;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    border-radius: 25px;
}
.navLinks li{
    list-style: none;
}

.navLinks:hover{
    background-color: rgba(255, 255, 255, 0.466);
    transition: 0.8s background-color;

}

main{
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;
    grid-area: mai;
    background-color:rgba(255, 255, 255, 0.822);
    
    padding: 10%;
}

footer{
    grid-area: foo;
    background-color:rgba(255, 255, 255, 0.822);
}

.burgerMenu{
    display: none;
    cursor: pointer;
}

.burgerMenu div{
    width: 35px;
    height: 6px;
    background-color: black;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;

}

/* CSS för "recensioner.html"  */

.recensionerGridwrapper{
    display: grid;
    grid-template-areas: 
    'hea nav'
    'ars ars'
    'foo foo'
    ;
    grid-template-columns: 15vw 85vw ;
    grid-template-rows: 180px 1000px 180px;
    column-gap: 5px;
}

.articleSection{
    grid-area: ars;
    display: grid;
    grid-template-areas:
    'ar1 ar2'
    'ar3 ar4'
    ;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px 400px;
    row-gap: 25px;
    margin: 60px;
}

/* Bok1 Artikeln */

#article1{
    grid-area: ar1;
    display: grid;
    grid-template-areas:
    'img1 txt1'
    ;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    
}

#book1Img{
    grid-area: img1;
    width: 80%;
    height: 400px;
    margin-left: 16%;  
}

#book1Txt{
    grid-area: txt1;
    background-color:rgba(255, 255, 255, 0.822);
    border-radius: 0 25px 25px 0;
    margin-right: 16%;

}

#article2{
    grid-area: ar2;
    display: grid;
    grid-template-areas:
    'img2 txt2'
    ;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
} 

#book2Img{
    grid-area: img2;
    width: 80%;
    height: 400px;
    margin-left: 16%; 
} 

#book2Txt{
    grid-area: txt2;
    background-color:rgba(255, 255, 255, 0.822);
    border-radius: 0 25px 25px 0;
    margin-right: 16%;
}

#article3{
    grid-area: ar3;
    display: grid;
    grid-template-areas:
    'img3 txt3'
    ;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
} 

#book3Img{
    grid-area: img3;
    width: 80%;
    height: 400px;
    margin-left: 16%; 
} 

#book3Txt{
    grid-area: txt3;
    background-color:rgba(255, 255, 255, 0.822);
    border-radius: 0 25px 25px 0;
    margin-right: 16%;
}

#article4{
    grid-area: ar4;
    display: grid;
    grid-template-areas:
    'img4 txt4'
    ;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
} 

#book4Img{
    grid-area: img4;
    width: 80%;
    height: 400px;
    margin-left: 16%; 
} 

#book4Txt{
    grid-area: txt4;
    background-color:rgba(255, 255, 255, 0.822);
    border-radius: 0 25px 25px 0;
    margin-right: 16%;
}

/* CSS för "boklista.html"  */

.boklistaGridwrapper{
    display: grid;
    grid-template-areas: 
    'hea nav'
    'tbd tbd'
    'foo foo'
    ;
    grid-template-columns: 15vw 85vw ;
    grid-template-rows: 180px 1000px 180px;
    column-gap: 5px;
}

/* CSS för "roligFakta.html"  */

.roligFaktaGridwrapper{
    display: grid;
    grid-template-areas: 
    'hea nav'
    'tbd tbd'
    'foo foo'
    ;
    grid-template-columns: 15vw 85vw ;
    grid-template-rows: 180px 1000px 180px;
    column-gap: 5px;
}

/* CSS för "omMig.html"  */

.omMigGridwrapper{
    display: grid;
    grid-template-areas: 
    'hea nav'
    'tbd tbd'
    'foo foo'
    ;
    grid-template-columns: 15vw 85vw ;
    grid-template-rows: 180px 1000px 180px;
    column-gap: 5px;
}


/* Javascript */

@media screen and (max-width:768px){
    body {
        overflow-x: hidden;
    }

    .navLinks {
     position: absolute;
     background-color:rgba(255, 255, 255, 0.822);
     width: 40%;
     right: 0px;
     height: 82vh;
     top: 18vh;
     border-radius: 0px 0px 0px 0px;
     display: flex;
     flex-direction: column;
     align-items: center;
     transform: translateX(100%);
     transition: transform 1s ease-in;
 }
    .burgerMenu{
        display: block;
    }
}

.navActive {
    transform: translateX(0%);
}